127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

127.0.1.1	{{ ansible_hostname }}
10.0.0.70       tpi2-bmc tpi2-bmc.wonderland.local
10.0.0.71       tpi2-1 tpi2-1.wonderland.local
10.0.0.72       tpi2-2 tpi2-2.wonderland.local
10.0.0.73       tpi2-3 tpi2-3.wonderland.local
10.0.0.74       tpi2-4 tpi2-4.wonderland.local
