127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

127.0.1.1	{{ ansible_hostname }}
10.0.0.60       tpi1-0 tpi1-0.wonderland.local
10.0.0.61       tpi1-1 tpi1-1.wonderland.local
10.0.0.62       tpi1-2 tpi1-2.wonderland.local
10.0.0.63       tpi1-3 tpi1-3.wonderland.local
10.0.0.64       tpi1-4 tpi1-4.wonderland.local
10.0.0.65       tpi1-5 tpi1-5.wonderland.local
10.0.0.66       tpi1-6 tpi1-6.wonderland.local
